<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="changeColorCommand" xsi:type="object">RCN\ButtonColor\Console\ChangeColorCommand</item>
            </argument>
        </arguments>
    </type>

     <type name="RCN\ButtonColor\Block\InjectCss">
        <plugin name="rcn_buttoncolor_injectcss_plugin" type="RCN\ButtonColor\Plugin\InjectCssPlugin" />
    </type>
</config>